APP_NAME=
APP_VERSION=
APP_DESCRIPTION=
HOST=
PORT=
HTTPSPORT=
LOG_LEVEL=
DB_NAME=
DB_NAME_TEST=
DB_MONOGO_URL=
API_PREFIX=

STRING_ARTICLES_SENT=
STRING_ARTICLE_DELETED=
STRING_ARTICLES_DELETED=
STRING_ARTICLE_UPDATED=
STRING_ERROR_ARTICLE_CREATED=
STRING_ERROR_ARTICLES_GET=
STRING_ERROR_ARTICLE_POST=

STRING_JOURNALS_SENT=
STRING_JOURAL_DELETED=
STRING_JOURNALS_DELETED=
STRING_JOURNALS_UPDATED=
STRING_ERROR_JOURNAL_CREATED=
STRING_ERROR_JOURNALS_GET=
STRING_ERROR_JOURNAL_POST=


CONTENT_TYPE=

AUTH0_URL=
AUTH0_CLIENT_ID=
AUTH0_CLIENT_SECRET=
AUTH0_AUDIENCE=

CROSSREF_BASEURL=