APP_NAME=
APP_VERSION=
APP_DESCRIPTION=
HOST=
PORT=
HTTPSPORT=
LOG_LEVEL=
DB_NAME=
DB_NAME_TEST=
DB_MONOGO_URL=
API_PREFIX=

CONTENT_TYPE=

CROSSREF_BASEURL=
DOAJ_BASEURL=

REDIS_HOST=
REDIS_PORT=

EMAIL_ACCOUNT=
EMAIL_APPLICATION_PASSWORD=


ELASTICSEARCH_URL = 
ELASTICSEARCH_PORT = 
ELASTICSEARCH_USERNAME =
ELASTICSEARCH_PASSWORD = 
ELASTICSEARCH_PROTOCOL = 

API_MAILTO=

SPRINGER_BASEURL=
SPRINGER_API_KEY=